<div ng-init="adminCtrl.init()">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Transaction Id</th>
            <th>User</th>
            <th>Book</th>
            <th>Due Date</th>
            <th>Type</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="transaction in transactions">
            <td ng-bind="transaction['_id']"></td>
            <td>{{ transaction.user.first_name }} {{ transaction.user.last_name }}</td>
            <td ng-bind="transaction.book.name"></td>
            <td ng-bind="transaction.due_date"></td>
            <td ng-bind="transaction.type"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>